:root {
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-hover: #9f67c0;
  --font-size-small: 1.2rem;
  --font-size-medium: 1.5rem;
  --font-size-medium-up: 1.8rem;
  --font-size-title: 2.4rem;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  font-family: 'Roboto', sans-serif;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.4rem;
  text-transform: uppercase;
}

p, li, label, input, textarea {
  font-family: 'Roboto Mono', monospace;
}

/* i { */
/*     color: #ffffff; */
/* } */
/* .container { */
/*   width: 100%; */
/*   height: 100vh; */
/*   display: grid; */
/*   place-items: center; */
/*   background-color: #fff; */
/* } */
/* .text { */
/*    color: var(--clr-black);  */
/* } */
.container {
  width: 100%;
  height: 100vh;
}

#size {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
  color: red;
}

.header {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 .5rem;
}

.header__logo {
  font-size: var(--font-size-title);
  font-weight: bold;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: var(--font-size-medium-up);
  gap: 1.5rem;
}

.main {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 .5rem;
  /*  clip-path: polygon(57% 44%, 100% 0, 100% 100%, 0% 100%); */
}

.main__img {
  background-image: url(../assets/img/two.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  border-radius: .5rem;
}

.main__text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__text-1 {
  /*  font-size: clamp(1.5rem, 3vw, 6rem );  */
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.main__text-2 {
  /*  font-size: clamp(1rem, 2vw, 4rem); */
  font-size: 3rem;
  color: #000;
  font-weight: 500;
}

.main__text-3 {
  /*  font-size: clamp(.8rem, 1.2vw, 1.5rem); */
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}

.main__text-4 {
  /*  font-size: clamp(1.3rem, 2.5vw, 3rem); */
  font-size: 3.5rem;
  font-weight: 700;
}

.footer {
  height: 10%;
  margin: 0 .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__instagram {
  font-size: 2rem;
  color: #000;
  padding: .5rem;
  cursor: pointer;
}

.footer__instagram:hover {
  color: #9f67c0;
}

.footer__twitter {
  font-size: 2rem;
  color: #000;
  padding: .5rem;
  cursor: pointer;
}

.footer__twitter:hover {
  color: #9f67c0;
}

.footer__facebook {
  font-size: 2rem;
  color: #000;
  padding: .5rem;
  cursor: pointer;
}

.footer__facebook:hover {
  color: #9f67c0;
}

.footer__youtube {
  font-size: 2rem;
  color: #000;
  padding: .5rem;
  cursor: pointer;
}

.footer__youtube:hover {
  color: #9f67c0;
}

@media (max-width: 320px) {
  .container {
    background-color: #fff;
  }
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__logo {
    font-size: 4rem;
  }
  .header__menu {
    display: none;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50%;
  }
  .main__img {
    width: 10rem;
    height: 10rem;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 100%;
    background-size: 100%;
  }
  .main__text {
    margin-top: 1rem;
  }
  .main__text-1 {
    padding: .5rem;
  }
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__instagram {
    font-size: 1.5rem;
  }
  .footer__twitter {
    font-size: 1.5rem;
  }
  .footer__facebook {
    font-size: 1.5rem;
  }
  .footer__youtube {
    font-size: 1.5rem;
  }
}

@media (min-width: 425px) and (max-width: 576px) {
  .container {
    background-color: #fff;
  }
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__logo {
    font-size: 4rem;
  }
  .header__menu {
    display: none;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 75%;
  }
  .main__img {
    width: 10rem;
    height: 10rem;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 100%;
    background-size: 100%;
  }
  .main__text {
    margin-top: 1rem;
  }
  .main__text-1 {
    font-size: 3rem;
    padding: .5rem;
    text-align: center;
  }
  .main__text-2 {
    text-align: center;
    padding: 1rem;
    font-size: 2.5rem;
  }
  .main__text-3 {
    text-align: center;
    padding: 1rem;
  }
  .main__text-4 {
    text-align: center;
    padding: 1rem;
    font-size: 4rem;
  }
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__instagram {
    font-size: 1.5rem;
  }
  .footer__twitter {
    font-size: 1.5rem;
  }
  .footer__facebook {
    font-size: 1.5rem;
  }
  .footer__youtube {
    font-size: 1.5rem;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .container {
    background-color: #fff;
  }
  .header {
    width: 100%;
    position: absolute;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-content: center;
  }
  .header__logo {
    font-size: 2.5rem;
    color: #fff;
    padding: 1rem;
  }
  .header__menu {
    display: none;
  }
  .main {
    margin: 0 1rem;
  }
  .main__img {
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 100vh;
    /*  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
    background-image: url(../assets/img/twoPlay.jpg);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: cover;
    background-position: top center;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: .75;
  }
  .main__text {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__text-1 {
    color: #003237;
    padding: 2rem;
    font-size: 4rem;
  }
  .main__text-2 {
    color: #c2c2c2;
    font-size: 2.5rem;
    padding: 1rem;
  }
  .main__text-3 {
    color: rgba(194, 194, 194, 0.7);
    font-size: 1.5rem;
    padding: 1rem;
  }
  .main__text-4 {
    color: #fff;
    font-size: 8rem;
    padding: 2rem;
  }
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 3;
  }
  .footer__instagram {
    font-size: 3rem;
    color: rgba(194, 194, 194, 0.7);
    padding: 1rem;
  }
  .footer__twitter {
    font-size: 3rem;
    color: rgba(194, 194, 194, 0.7);
    padding: 1rem;
  }
  .footer__facebook {
    font-size: 3rem;
    color: rgba(194, 194, 194, 0.7);
    padding: 1rem;
  }
  .footer__youtube {
    font-size: 3rem;
    color: rgba(194, 194, 194, 0.7);
    padding: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .container {
    background-color: #fff;
  }
  .header {
    padding: 1rem;
  }
  .header__menu {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .main__img {
    -webkit-box-shadow: 20px 25px 30px 5px #2b2b2b;
            box-shadow: 20px 25px 30px 5px #2b2b2b;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .main__img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  .main__text {
    padding: 1rem;
  }
  .main__text-1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--clr-hover);
  }
  .main__text-2 {
    font-size: 2rem;
  }
  .main__text-2 span {
    color: #52b788;
    font-weight: 400;
  }
  .main__text-3 {
    font-size: 1.5rem;
    color: #d4d4d4;
  }
  .main__text-4 {
    font-size: 6rem;
    font-weight: bold;
    color: #000000;
  }
  .footer {
    margin-right: 2rem;
  }
  .footer__instagram {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .footer__instagram:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .footer__twitter {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .footer__twitter:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .footer__facebook {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .footer__facebook:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .footer__youtube {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .footer__youtube:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@media (min-width: 1200px) {
  .container {
    background-color: #fff;
  }
  .header {
    margin: 0 2rem;
  }
  .header__logo {
    font-size: 4rem;
  }
  .header__menu {
    font-size: 2rem;
    cursor: pointer;
  }
  .header__menu:hover {
    color: var(--clr-hover);
  }
  .main__img {
    -webkit-box-shadow: 20px 25px 30px 5px #2b2b2b;
            box-shadow: 20px 25px 30px 5px #2b2b2b;
  }
}

@media (min-width: 1400px) {
  .container {
    background-color: #fff;
  }
}
/*# sourceMappingURL=open.css.map */