
.footer {
    padding-top: 2rem;
    color: var(--clr-white);
    text-align: center;
    align-items: center;
}
.footer .footer-social {
    justify-content: center;
    padding: .5rem;
}
.footer-text {
    margin: 1rem 0;
}
.footer-copy {
    font-size: var(--caption);
    margin-bottom: 1rem;
    font-weight: 500;
}
.footer-copy span {
    color: var(--clr-One);
    font: var(--body2);
    font-weight: 700;
}