.header {
    /*  width: 100%; */
    /*  height: 4rem; */
     background-color: var(--clr-gradient-two);
     padding: 1rem;
    
     display: flex;
     justify-content: space-between;
     align-items: center;
    }
    
    .logo {
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    