                  /* ===== Mobile First ===== */
@media screen and (max-width: 320px) {
    .hero-social {
        text-align: center;
    }
}

@media (min-width: 321px) and (max-width: 425px) {
    /* .header { */
    /*     max-width: 360px; */
    /* } */
    .hero-social {
        text-align: center;
    }
}

@media (min-width: 426px) and (max-width: 767px) {

}

@media screen and (min-width: 768px) {
    .menu {
        display: block;
    }

    .hero {
        display: flex;
        gap: 3.2rem;
    }
    .hero-image {
        order: 2;
        flex: 1;

        /* text-align: end; */
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .hero-image img {
        border-radius: 1rem;
    }
   /*  .hero-image img:hover { */
   /*      transform: scale(2); */
   /*      transition: transform 1s ease-in-out; */
   /*  } */
    .hero-description {
        order: 1;
        /* width: 543px; */
        /* height: 376px; */
        max-inline-size: 458px;
    }
    .testimony {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        margin: 0 auto;
        gap: 1rem;
    }
    .testimony-img {
     order: 2;
    }
    .testimony-description {
    order: 1;
    }
    .marvol {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        margin: 0 auto;
        gap: 1rem;
    }
    .marvol-img {
        order: 1;
    }
    .marvol-description {
        order: 2;
    }

    .testimonyTwo {
      padding: 3rem;
    }

    .testimonyTwo-img img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .testimonyTwo-description {
        gap: 20px;
    }

    .recomendation {
    padding: 3rem;
    }
    .recomendation-img img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .recomendation-description {
        gap: 20px;
    }

    .streaming {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: .5rem;
        gap: 1rem;
    }

    .streaming-img {
        order: 2; 
    }
    .streaming-img img {
        width: 100%;
        object-fit: cover;
    }

    .streaming-description {
        order: 1;
    }

    .recomendationTwo {
        padding: 3rem;
    }
    .recomendationTwo-img img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .recomendationTwo-description {
        gap: 20px;
    }

}

@media screen and (min-width: 1024px) {
    
    .hero-image img {
    inline-size: 500px;
    block-size: 504px;
    }

}

@media screen and (min-width: 1280px) {
    
}

@media screen and (min-width: 1366px) {
    
}

@media screen and (min-width: 1440px) {
    
}