:root{
    --clr-white: #ffffff; 
    --clr-black: #000000; 

    --clr-One:#310A90; 
    --clr-Tw:#42E2B8; 
    --clr-gradient:#FAD7A1; 
    --clr-gradient-two:#72EDF2;

    --clr-Five:#4cc9f0; 
    --clr-Six:#e85d04; 
    
    
}
*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body {
    font-family: 'Titillium Web', sans-serif; 
}