:root {
    /*  color */
  --clr-one:#F2F2F2; 
  --clr-two: #A6A6A6; 
  --clr-three: #595959; 
  --clr-four: #262626; 
  --clr-five: #0D0D0D; 
 
  --clr-white: #ffffff; 
  --clr-black: #000000; 

  --clr-pageOne: #707070; 
  --clr-pageTwo: #1792d2; 
  --clr-pageThree: #143774; 
 
    /* Typography */
  --font-size-small: 1.2rem; 
  --font-size-medium: 1.5rem; 
  --font-size-medium-up: 1.8rem; 
  --font-size-title: 3rem; 
  --font-size-titleTwo: 1.5rem; 
 }
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 html {
     font-size: 62.5%;
 }
 body {
     width: 100%;
     height: 100vh;
     font-family: 'Newsreader', serif;
 }
 ul {
     list-style: none;
 }
 a {
     text-decoration: none;
 }
 img {
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    display: block;
}
header {
    margin-bottom: 3rem;
}
h1, h2, h3{
    font-family: 'Newsreader', serif;
    font-weight: bold;
    color: var(--clr-five);
    margin-top: 0;
}
h1 {
    font-size: var(--font-size-title);
}
h2 {
    font-size: var(--font-size-medium-up);
}
h3 {
    font-size: var(--font-size-medium);
}
strong {
    color: var(--clr-pageTwo);
    font-weight: 700;
    
}

/*articles*/
.article-title {
  color: var(--clr-four);
  font-size: clamp(1.5rem, 2.5vw, 3rem);
}
.article-info a {
    margin: 0;
    font-weight: bolder;
    color: var(--clr-pageThree);
    cursor: pointer;
}
.article-read-more, .article-info {
    font-size: .880rem;
}
.article-info {
  margin: 2rem 0;
}
.article-read-more {
    color: var(--clr-pageThree);
    text-decoration: none;
    font-weight: 700;
}
.article-read-more:hover, 
.article-read-more:focus {
    color: var(--clr-two);
    text-decoration: underline;
}
.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
.container-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.article-featured {
    border-bottom: #A6A6A6 1px solid;
    width: 75%;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
.article-recent {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}
.article-recent-main {
  order: 2;
}
.article-recent-secondary {
 order: 1;
}


/*======= MEDIAQUERIES ==== VIWPORT ====== MOBILEFIRST===== Breakpoints=====*/
            /*MOBILE-FIRST*/
@media (max-width: 320px) {
    
}

@media (min-width: 321px) and (max-width: 425px) {
 .article-recent {
     flex-direction: row;
     justify-content: space-between;
 }
 .article-recent-main {
     margin-top: 1rem;
 }
 .article-info {
     text-align: right;
 }
}

@media (min-width: 426px) and (max-width: 674px) {

}

@media (min-width: 675px) {
    .container-flex {
        flex-direction: row;
    }
    main {
        width: 75%;
       }
       
    aside {
        width: 25%;
       }
    .article-recent {
        flex-direction: row;
        justify-content: space-between;
    }
    .article-recent-main {
        width: 60%;
    }
    .article-recent-secondary {
        width: 25%;
       /*  height: 400px;  */
    }
    .article-image {
        width: 100%;
        min-height: 250px;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: .5rem;
    }
}

    /*TABLET*/
@media (min-width: 768px) {
   .article-recent-main {
    width: 70%;
    padding: 1rem;
   }
   .article-recent-secondary {
       width: 30%;
   }
   .article-image {
       order: -2;
   }
   .article-info {
       order: -1;
   }
}

   /*LAPTOP*/
@media (min-width: 1024px) {

}

           /*===== Widgets=====*/
.sidebar-widget {
    border: 20px solid #efefef;
    margin-bottom: 2rem;
    padding: 1rem;
}
