:root {
   /*  color */
 --clr-one:#F2F2F2; 
 --clr-two: #A6A6A6; 
 --clr-three: #595959; 
 --clr-four: #262626; 
 --clr-five: #0D0D0D; 

 --clr-white: #ffffff; 
 --clr-black: #000000; 

   /* Typography */
 --font-size-title: 3em; 
 --font-size-titleTwo: 1.5em; 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100vh;
    font-family: 'Newsreader', serif;
    font-size: 1.125rem;
    margin: 0;
    color: var(--clr-three);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    max-width: 100%;
}
h1 {
    font-size: clamp(1em, 2.5vw, 3em);
    color: var(--clr-five);
    font-weight: bold;
    text-transform: uppercase;
}
span {
    color: var(--clr-two);
}
h2 {
    font-size: clamp(.5em, 1.5vw, 2em);
    color: var(--clr-three);

}
.container {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
}
.columns {
    display: flex;
}