/*========== Variables CSS==========*/
:root {
  /*Header and navigation*/
  --header-height: 3.5rem;
  --nav-width: 219px;
  /*======Colors=====*/
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-search: #dfdede;
  --text-color: #58555E;
  --text-color-light: #A5A1AA;
  --body-color: #F9F6FD;
  --clr-One: #7400b8;
  --clr-Two: #5e60ce;
  --clr-Three: #4ea8de;
  --clr-Three: #48bfe3;
  /*===Font size===*/
  --font-size-small: 1.2rem;
  --font-size-medium: 1.5rem;
  --font-size-medium-up: 1.8rem;
  --font-size-title: 2.4rem;
  /* ===Media Queries===*/
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== z index ==========*/
  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --font-size-small: 1.4rem;
    --font-size-medium: 1.8rem;
    --font-size-medium-up: 2rem;
    --font-size-title: 2.6rem;
  }
}

*, ::before, ::after {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body, ::before body, ::after body {
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
}

p, li, label, input, textarea {
  font-family: 'Roboto Mono', monospace;
}

h3 {
  margin: 0;
}

/* ===== header =====*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--clr-One);
  padding: 0 1rem;
  z-index: var(--z-fixed);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: var(--header-height);
}

.header__img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.header__logo {
  color: var(--clr-white);
  font-weight: var(--font-size-medium);
  display: none;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .40rem .75rem;
  border-radius: .25rem;
}

.header__input {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--clr-search);
  border-radius: .5rem;
  padding: .5rem;
}

.header__input::-webkit-input-placeholder {
  font-family: var(--font-size-medium-up);
  color: var(--text-color);
}

.header__input:-ms-input-placeholder {
  font-family: var(--font-size-medium-up);
  color: var(--text-color);
}

.header__input::-ms-input-placeholder {
  font-family: var(--font-size-medium-up);
  color: var(--text-color);
}

.header__input::placeholder {
  font-family: var(--font-size-medium-up);
  color: var(--text-color);
}

.header__icon {
  margin-left: .5rem;
}

.header__icon, .header__toggle {
  font-size: 1.5rem;
}

.header__toggle {
  color: var(--clr-black);
  cursor: pointer;
}

/* ======  Nav ===== */
.nav {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  padding: 1rem 1rem 0;
  background-color: var(--clr-One);
  -webkit-box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
          box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: var(--z-fixed);
  -webkit-transition: .4s;
  transition: .4s;
}

.nav__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 3rem;
  overflow: auto;
  scrollbar-width: none;
}

.nav__container::-webkit-scrollbar {
  display: none;
}

.nav__logo {
  font-weight: var(--font-size-title);
  margin-bottom: 2.5rem;
}

.nav__list, .nav__items {
  display: -ms-grid;
  display: grid;
}

.nav__list {
  gap: 2.5rem;
}

.nav__items {
  gap: 1.5rem;
}
/*# sourceMappingURL=menu.css.map */