* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100vh;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1 {
    font-size: 16px; 
    margin: 0;
}
h2 {
    font-size: clamp(1rem, 2.5vw, 2rem);
    color: white;
}

header {
    background: aqua;
    color: #fff;
    padding: 45px 0;
    width: 500px;
    height: 20vh;
}

.section-one {
 width: 100vw;
 height: 75vh;
 background-color: orchid;
}
.section--container {
    width: 100%;
    height: 100%;
}
.section--container img {
    object-fit: cover;
    width: 100%;
    max-width: 950px;
    min-width: 400px;
    max-height: 450px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.container {
    width: 350px;
    margin: 0 auto;
}
strong {
    color: blue;
    font-size: 1.4rem;
    font-weight: bold;
}
.section--container a {
    color: red;
}

.section-two {
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    
}
.section-two h1 {
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-weight: bold;
  color: orange;
  text-align: center;
}
.section-two img {
 width: 100%;
 height: 100%;

 max-width: 600px;
 min-width: 400px;

 max-height: 600px;
 
 object-fit: cover;
 padding: 1rem;
 border-radius: 1rem;
}
.section-two p, a, strong {
    text-align: center;
    color: black;
}

              /* ======VIEWPORT-vw-vh-vmin-vmax====RESPONSIVE*/
