:root{
    --clr-white: #ffffff; 
    --clr-black: #000000; 
    --clr-One:#f72585; 
    --clr-Tw:#7209b7; 
    --clr-Three:#480ca8; 
    --clr-Four:#4361ee; 
    --clr-Five:#4cc9f0; 
    --clr-Six:#e85d04; 
}
*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

       /*Game Animation course*/

body {
    font-family: 'Titillium Web', sans-serif; 
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;

    counter-reset: game;
}

input:checked {
 counter-increment: game;
}

.tottal-count::after {
    content: counter(game);
}

.gamer {
    width: 100%;
    height: 100vh;
    
}
.phone {
    position: relative;
    width: 400px;
    height: 800px;
    border: 8px solid #000;
    border-radius: 4rem;
    box-shadow: 4px 4px 10px 10px #000;
    margin-top: 3rem;

    background-color: rgb(189, 229, 255);
}

/* === Bunny1 ===*/
.layer-1 {
    position: absolute;
    z-index: 1;
    height: 600px;
    width: 80px;
    right: 60px;
    bottom: 0;
   /*  background: rgba(255, 255, 255, 0.5); */
}
.left-ear--outer {
 height: 90px;
 width: 20px;
 border-radius: 90%;
 background: #ffffff;
 position: absolute;
 left: 10px;
}
.left-ear--inner {
height: 90px;
width: 10px;
border-radius: 90%;
background: pink;
position: absolute;
left: 15px;
top: 8px;
}
.right-ear--outer {
height: 90px;
width: 20px;
border-radius: 90%;
background: #ffffff;
position: absolute;
right: 10px;
}
.right-ear--inner {
height: 90px;
width: 10px;
border-radius: 90%;
background: pink;
position: absolute;
right: 15px;
top: 8px;
}

.head {
 width: 100%;
 height: 80px;
 border-radius: 50%;
 background: #ffffff;
 border: none;
 position: absolute;
 margin: 0 auto;
 left: 0;
 right: 0;
 top: 40px;
}

.head__eye {
border-radius: 50%;
height: 4px;
width: 4px;
position: absolute;
top: 20px;
background: var(--clr-black);

animation-name: blink;
}
.head__eye--left {
 left: 30px;
}
.head__eye--right {
 right: 30px;
}

    /* bunny2 */
.layer-2 {
  position: absolute;
  z-index: 2;
  height: 600px;
  width: 80px;
  left: 60px;
  bottom: 0;
  /* background: #ffffff; */
}

   /* muro */
.layer-3 {
  position: absolute;
  z-index: 3;
  height: 525px;
  width: 320px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  background: rgb(85, 61, 44);
  border-radius: 20px;
  border: solid  3px #000;

  
}

   /* conejo3 */
.layer-4 {
  position: absolute;
  z-index: 4;
  height: 400px;
  width: 80px;
  left: 30px;
  /* background: #4cc9f0; */
  bottom: 0;
}

   /* conejo4 */
.layer-5 {
 position: absolute;
 z-index: 5;
 height: 400px;
 width: 80px;
 /* background: #4cc9f0; */
 bottom: 0;
 left: 140px;
}

    /* muro */
.layer-6 {
 position: absolute;
 z-index: 6;
 height: 325px;
 width: 250px;
 background: rgb(85, 61, 44);
 bottom: 0;
 border-radius: 20px;
 left: 10px;
 border: solid  3px #000;
}

   /* conejo5 */
.layer-7 {
 position: absolute;
 z-index: 7;
 height: 150px;
 width: 80px;
 /* background: blueviolet; */
 bottom: 0;
 right: 25px;
}

   /* conejo6 */
.layer-8 {
 position: absolute;
 z-index: 8;
 height: 150px;
 width: 80px;
/*  background: blueviolet; */
 bottom: 0;
 right: 130px;
}

    /* muro */
.layer-9 {
 position: absolute;
 z-index: 9;
 height: 75px;
 width: 225px;
 background: rgb(85, 61, 44);
 bottom: 0;
 right: 10px;
 border-radius: 10px;
 border: solid  3px #000;
}

    /* pasto */
.layer-10 {
 position: absolute;
 z-index: 10;
 bottom: 0;
 background: green;
 width: 400px;
 height: 50px;
 border-radius: 20px;
}
.layer-11 {
    position: absolute;
    z-index: 11;
}
.layer-12 {
    position: absolute;
    z-index: 12;
}

        /*Keyframes*/
/* @keyframes duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name */

/* @keyframes name | duration | easing-function | delay */

/* @keyframes name | duration */

@keyframes blink {
    0% {

    }

    5% {

    }

    10% {
        
    }
}