:root{
    --clr-white: #ffffff; 
    --clr-black: #000000; 
    --clr-One:#f72585; 
    --clr-Tw:#7209b7; 
    --clr-Three:#480ca8; 
    --clr-Four:#4361ee; 
    --clr-Five:#4cc9f0; 
    --clr-Six:#e85d04; 
}
*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Titillium Web', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
    /* ==== Transition ==== */

.cuadro {
    margin-top: 3rem;
    width: 100px;
    height: 100px;
    background: blue;
}
.cuadro:hover {
   transform: translateX(500px);
   transition: transform 2s ease-in-out;
}
.container {
    margin-top: 3rem;
    margin-left: 3rem;
    background: pink;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.container:hover .box {
    transform: scale(2);
}
.box {
    background: blueviolet;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}
.box-1 {
    background-color: red;
    transition: transform 1.5s ease-out;
}
.box-2 {
    background-color: greenyellow;
    transition: transform 1s ease-in;
}
.box-3 {
    transition: transform 2s ease-in-out;
}

.container__Two {
    margin-top: 3rem;
    width: 600px;
    height: 330px;
    background: lightblue;

}
.container__Two:hover .circle{
    transform: translateX(400px);
    transition: transform 1s cubic-bezier(.17,.67,1,.03);
   
}
.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 1rem;
    margin-left: 1rem;
    background: black;
}
.one  {
    transition: transform 1s cubic-bezier(.17,.67,1,.03);
    transition-delay: 0.5s;
    background: chartreuse;
    width: 60px;
    height: 60px;
}
.two {
    transition: transform 1s cubic-bezier(.17,.67,0,.97);
    background: cyan;
}
.three {
    transition: transform 1s cubic-bezier(0,1.82,1,-0.01);
    background: red;
}
.four {
    transition: transform 1s linear;
    transition-delay: 1s;
    background-color: yellow;
}